<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node JS Programming</title>
</head>
<body>
<h1>Login Page</h1>
<form method="post">
  <label for="email_id">Email</label>
  <input type="email" name="email" id="email_id" placeholder="e.g. john.doe@email.com">
  <label for="password_id">Password</label>
  <input type="password" name="password" id="password_id" placeholder="Your Secret Key">
  <input type="submit" value="Login">
</form>
</body>
</html>