extends layouts/master

block web-content
  // CONTENT HEADER (PAGE HEADER)
  div.content-header
    div.container-fluid
      div.row.mb-2
        div.col-sm-6
          h1.m-0.text-dark Dashboard
        div.col-sm-6
          ol.breadcrumb.float-sm-right
            li.breadcrumb-item.active Dashboard
  // MAIN CONTENT
  div.content
    div.container-fluid
      div.card
        div.card-body.p-4
          p The page you are looking are not found on this server
